POSTGRES_PASSWORD=use-a-long-random-database-password
SECRET_KEY=use-at-least-32-random-characters
ADMIN_EMAIL=aleksandr.drugalev@h-xgroup.com
ADMIN_PASSWORD=use-a-strong-admin-password
ADMIN_NAME=Другалев Александр Александрович
ADMIN_EMPLOYEE_ID=drugalev
EMPLOYEE_ID=baranova
EMPLOYEE_PASSWORD=use-a-strong-employee-password
COOKIE_SECURE=false
APP_PORT=3000
